<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Entry</title>
</head>
<body>
  <h1>Vehicle Entry</h1>
  <p>Vehicle with plate number <%= vehicle.plateNumber %> has entered.</p>
  <p>Type: <%= vehicle.type %></p>
  <p>Entry Time: <%= vehicle.entryTime %></p>
  <a href="/">Back to Home</a>
</body>
</html>
