<!DOCTYPE html>
<html>
<head>
  <title>Entrada de vehiculo</title>
</head>
<body>
  <div class="card">
  <h1>Entrada de vehiculo</h1>
  <p>El vehiculo con la placa: <%= vehicle.plateNumber %> ha entrado.</p>
  <p>Tipo: <%= vehicle.type %></p>
  <p>Hora de entrada: <%= vehicle.entryTime %></p>
  <a href="/">Volver al inicio</a>
  </div>
</body>
</html>
